In [1]:
# Importing libraries
import pandas as pd

In [2]:
# Transformation functions for basic cycle optimization results
def basic_cycle_join_with_reference_refrigerant(df):
    distinct_R410a = \
        df[df['refrigerant'] == 'R410a'][[
            't_external_env',
            'default_cop',
            'default_exergy_efficiency'
        ]]\
            .groupby(by=['t_external_env'])\
            .mean()\
            .rename(columns={
                'default_cop': 'default_cop_R410a',
                'default_exergy_efficiency': 'default_exergy_efficiency_R410a'
            })\
            .reset_index()
    return df.merge(distinct_R410a, how='inner', on=['t_external_env'])

def basic_cycle_add_remaining_columns(df):
    df['cop_improvement'] = (df['cop'] / df['default_cop'] - 1) * 100
    df['exergy_efficiency_improvement'] = \
    (df['exergy_efficiency'] / df['default_exergy_efficiency'] - 1) * 100
    df['cop_improvement_R410a'] = (df['cop'] / df['default_cop_R410a'] - 1) * 100
    df['exergy_efficiency_improvement_R410a'] = \
    (df['exergy_efficiency'] / df['default_exergy_efficiency_R410a'] - 1) * 100
    return df

def basic_cycle_group_by_refrigerant(df):
    agg_map = {
        'subcooling': 'mean',
        'superheating': 'mean',
        'work': 'mean',
        'cop': 'mean',
        'default_cop': 'mean',
        'cop_improvement': 'mean',
        'cop_improvement_R410a': 'mean',
        'exergy_efficiency': 'mean',
        'exergy_efficiency_improvement': 'mean',
        'exergy_efficiency_improvement_R410a': 'mean'
    }
    return df[[
        'refrigerant', 
        'subcooling', 
        'superheating', 
        'work',
        'cop',
        'default_cop',
        'cop_improvement',
        'cop_improvement_R410a',
        'exergy_efficiency',
        'exergy_efficiency_improvement',
        'exergy_efficiency_improvement_R410a'
    ]]\
        .groupby(by='refrigerant')\
        .agg(agg_map)\
        .sort_values(by='work', ascending=True)\
        .reset_index()

def basic_cycle_transform_df(df_0):
    df_1 = basic_cycle_join_with_reference_refrigerant(df_0)
    df_2 = basic_cycle_add_remaining_columns(df_1)
    df_3 = basic_cycle_group_by_refrigerant(df_2)
    return df_3

In [3]:
# Importing basic cycle optimization results
basic_cop = pd.read_excel('./results/basic_cop.xlsx')
basic_exergy_efficiency = pd.read_excel('./results/basic_exergy_efficiency.xlsx')

In [4]:
# Transforming basic cycle with COP optimization results
result_basic_cop = basic_cycle_transform_df(basic_cop)
result_basic_cop

,refrigerant,subcooling,superheating,work,cop,default_cop,cop_improvement,cop_improvement_R410a,exergy_efficiency,exergy_efficiency_improvement,exergy_efficiency_improvement_R410a
0,R600a,10.0,10.0,219.936984,12.083042,11.090547,8.963378,17.720877,0.277540,8.963378,17.720877
1,R1234ze(E),10.0,10.0,221.484545,12.000190,10.929914,9.809497,16.905592,0.275594,9.809497,16.905592
2,R1234yf,10.0,10.0,223.216900,11.909199,10.658147,11.762835,16.008279,0.273448,11.762835,16.008279
3,R134a,10.0,0.0,223.660341,11.883966,10.915859,8.881807,15.770708,0.272912,8.881807,15.770708
4,R290,10.0,0.0,227.189060,11.699976,10.734314,9.010726,13.975303,0.268671,9.010726,13.975303
5,NH3,10.0,0.0,227.318938,11.690325,11.210355,4.284658,13.896476,0.268528,4.284658,13.896476
6,R22,10.0,0.0,227.834628,11.665857,10.857360,7.456723,13.647861,0.267913,7.456723,13.647861
7,R32,10.0,0.0,233.535142,11.383927,10.573798,7.674723,10.886970,0.261363,7.674723,10.886970
8,R410a,10.0,0.0,235.225814,11.302723,10.268533,10.092917,10.092917,0.259483,10.092917,10.092917
9,R404a,10.0,0.0,237.509719,11.192289,9.946990,12.548558,9.026089,0.256994,12.548558,9.026089

In [5]:
# Transforming basic cycle with exergy efficiency optimization results
result_basic_exergy_efficiency = basic_cycle_transform_df(basic_exergy_efficiency)
result_basic_exergy_efficiency

,refrigerant,subcooling,superheating,work,cop,default_cop,cop_improvement,cop_improvement_R410a,exergy_efficiency,exergy_efficiency_improvement,exergy_efficiency_improvement_R410a
0,R600a,10.0,10.0,219.936984,12.083042,11.090547,8.963378,17.720877,0.277540,8.963378,17.720877
1,R1234ze(E),10.0,10.0,221.484545,12.000190,10.929914,9.809497,16.905592,0.275594,9.809497,16.905592
2,R1234yf,10.0,10.0,223.216900,11.909199,10.658147,11.762835,16.008279,0.273448,11.762835,16.008279
3,R134a,10.0,0.0,223.660341,11.883966,10.915859,8.881807,15.770708,0.272912,8.881807,15.770708
4,R290,10.0,0.0,227.189060,11.699976,10.734314,9.010726,13.975303,0.268671,9.010726,13.975303
5,NH3,10.0,0.0,227.318938,11.690325,11.210355,4.284658,13.896476,0.268528,4.284658,13.896476
6,R22,10.0,0.0,227.834628,11.665857,10.857360,7.456723,13.647861,0.267913,7.456723,13.647861
7,R32,10.0,0.0,233.535142,11.383927,10.573798,7.674723,10.886970,0.261363,7.674723,10.886970
8,R410a,10.0,0.0,235.225814,11.302723,10.268533,10.092917,10.092917,0.259483,10.092917,10.092917
9,R404a,10.0,0.0,237.509719,11.192289,9.946990,12.548558,9.026089,0.256994,12.548558,9.026089

In [6]:
# Transformation functions for two evaporators cycle optimization results
def two_evaporators_cycle_join_with_reference_refrigerant(df):
    distinct_R600a = \
        df[df['refrigerant'] == 'R600a'][[
            't_external_env',
            'default_cop',
            'default_exergy_efficiency'
        ]]\
            .groupby(by=['t_external_env'])\
            .mean()\
            .rename(columns={
                'default_cop': 'default_cop_R600a',
                'default_exergy_efficiency': 'default_exergy_efficiency_R600a'
            })\
            .reset_index()
    
    return df.merge(distinct_R600a, how='inner', on=['t_external_env'])

def two_evaporators_cycle_add_remaining_columns(df):
    df['cop_improvement'] = (df['cop'] / df['default_cop'] - 1) * 100
    df['exergy_efficiency_improvement'] = \
    (df['exergy_efficiency'] / df['default_exergy_efficiency'] - 1) * 100
    df['cop_improvement_R600a'] = (df['cop'] / df['default_cop_R600a'] - 1) * 100
    df['exergy_efficiency_improvement_R600a'] = \
    (df['exergy_efficiency'] / df['default_exergy_efficiency_R600a'] - 1) * 100
    
    return df

def two_evaporators_cycle_group_by_refrigerant(df, sort):
    agg_map = {
        'subcooling': 'mean',
        'superheating_ht': 'mean',
        'superheating_lt': 'mean',
        'work': 'mean',
        'cop': 'mean',
        'default_cop': 'mean',
        'cop_improvement': 'mean',
        'cop_improvement_R600a': 'mean',
        'exergy_efficiency': 'mean',
        'exergy_efficiency_improvement': 'mean',
        'exergy_efficiency_improvement_R600a': 'mean'
    }
    
    return df[[
        'refrigerant', 
        'subcooling', 
        'superheating_ht', 
        'superheating_lt', 
        'work',
        'cop',
        'default_cop',
        'cop_improvement',
        'cop_improvement_R600a',
        'exergy_efficiency',
        'exergy_efficiency_improvement',
        'exergy_efficiency_improvement_R600a'
    ]]\
        .groupby(by='refrigerant')\
        .agg(agg_map)\
        .sort_values(by=sort[0], ascending=sort[1])\
        .reset_index()

def two_evaporators_cycle_transform_df(df_0, sort):
    df_1 = two_evaporators_cycle_join_with_reference_refrigerant(df_0)
    df_2 = two_evaporators_cycle_add_remaining_columns(df_1)
    df_3 = two_evaporators_cycle_group_by_refrigerant(df_2, sort)
    
    return df_3

In [7]:
# Importing two evaporators cycle optimization results
two_evaporators_cop = pd.read_excel('./results/two_evaporators_cop.xlsx')
two_evaporators_exergy_efficiency = pd.read_excel('./results/two_evaporators_exergy_efficiency.xlsx')

In [8]:
# Transforming two evaporators cycle with COP optimization results
result_two_evaporators_cop = two_evaporators_cycle_transform_df(two_evaporators_cop, ['work', True])
result_two_evaporators_cop

,refrigerant,subcooling,superheating_ht,superheating_lt,work,cop,default_cop,cop_improvement,cop_improvement_R600a,exergy_efficiency,exergy_efficiency_improvement,exergy_efficiency_improvement_R600a
0,R600a,10.0,10.0,10.0,54.144133,2.775593,2.509709,10.608017,10.608017,0.365395,10.471087,10.471087
1,R1234ze(E),10.0,10.0,10.0,55.284748,2.718653,2.430532,11.871240,8.332181,0.357841,11.719660,8.188312
2,R134a,10.0,10.0,10.0,55.677140,2.699343,2.450021,10.191001,7.565808,0.354664,10.120023,7.227279
3,R290,10.0,10.0,10.0,56.119618,2.678133,2.425852,10.416138,6.719118,0.351804,10.345966,6.362962
4,R22,10.0,0.0,0.0,56.270959,2.670712,2.476410,7.853771,6.427930,0.350048,7.830288,5.831178
5,R1234yf,10.0,10.0,10.0,56.447759,2.663133,2.324764,14.581344,6.109984,0.350609,14.421298,6.003281
6,NH3,10.0,0.0,0.0,57.355884,2.619741,2.509969,4.375581,4.406491,0.342837,4.370449,3.649541
7,R32,10.0,0.0,0.0,58.345882,2.576000,2.391585,7.720158,2.648148,0.336870,7.715386,1.847818
8,R410a,10.0,0.0,0.0,58.703501,2.560762,2.319188,10.432957,2.031838,0.335192,10.414368,1.341873
9,R404a,10.0,10.0,10.0,59.520713,2.525933,2.193701,15.180255,0.637714,0.331768,15.110036,0.307816

In [9]:
# Transforming two evaporators cycle with exergy efficiency optimization results
result_two_evaporators_exergy_efficiency = \
    two_evaporators_cycle_transform_df(two_evaporators_exergy_efficiency, ['exergy_efficiency', False])
result_two_evaporators_exergy_efficiency

,refrigerant,subcooling,superheating_ht,superheating_lt,work,cop,default_cop,cop_improvement,cop_improvement_R600a,exergy_efficiency,exergy_efficiency_improvement,exergy_efficiency_improvement_R600a
0,R600a,10.0,10.0,0.0,54.483817,2.758388,2.509709,9.920289,9.920289,0.366945,10.940253,10.940253
1,R1234ze(E),10.0,10.0,0.0,55.642440,2.701287,2.430532,11.154217,7.637931,0.359447,12.221488,8.674430
2,R134a,10.0,10.0,0.0,55.798255,2.693571,2.450021,9.953506,7.334005,0.357105,10.878455,7.965843
3,R290,10.0,10.0,0.0,56.268296,2.671150,2.425852,10.126175,6.438925,0.354075,11.058658,7.050028
4,R1234yf,10.0,10.0,0.0,57.002180,2.637384,2.324764,13.469908,5.081056,0.351506,14.714278,6.275222
5,R22,10.0,10.0,0.0,56.533249,2.658265,2.476410,7.352294,5.933108,0.350559,7.987783,5.985757
6,NH3,10.0,0.0,0.0,57.355884,2.619741,2.509969,4.375581,4.406491,0.342837,4.370449,3.649541
7,R32,10.0,0.0,0.0,58.345882,2.576000,2.391585,7.720158,2.648148,0.336870,7.715386,1.847818
8,R410a,10.0,10.0,0.0,58.961435,2.549467,2.319188,9.947988,1.583621,0.336021,10.687546,1.592542
9,R404a,10.0,10.0,0.0,59.892051,2.510425,2.193701,14.469249,0.016966,0.333314,15.646528,0.776011

In [10]:
# Transformation functions for economic analysis of both cycles

def join_for_economic_analysis(df, reference_func):
    months = [
        ['Janeiro', 1, 31],
        ['Fevereiro', 2, 28],
        ['Mar√ßo', 3, 31],
        ['Abril', 4, 30],
        ['Maio', 5, 31],
        ['Junho', 6, 30],
        ['Julho', 7, 31],
        ['Agosto', 8, 31],
        ['Setembro', 9, 30],
        ['Outubro', 10, 31],
        ['Novembro', 11, 30],
        ['Dezembro', 12, 31]
    ]
    month_df = pd.DataFrame(months)
    month_df.rename(columns = {0: 'month', 1: 'month_number', 2: 'month_number_of_days'}, inplace = True)
    
    merged = reference_func(df)\
        .merge(month_df, how='inner', on=['month'])
    
    return merged

def calculate_energy_consumption(df, options):
    df['monthly_energy_consumption'] = \
        options['number_of_devices'] * \
        df['work'] * \
        options['hours_turned_on'] * \
        df['month_number_of_days'] * \
        options['to_kw_conversion']
    options['q_evaporator']
    
    q_evaporator = sum([df[q_evaporator] for q_evaporator in options['q_evaporator']])
    df['default_' + options['default_refrigerant'] + '_monthly_energy_consumption'] = \
        options['number_of_devices'] * \
        (q_evaporator / df['default_cop_' + options['default_refrigerant']]) * \
        options['hours_turned_on'] * \
        df['month_number_of_days'] * \
        options['to_kw_conversion']

    df['monthly_price'] = df['monthly_energy_consumption'] * options['kwh_price']
                
    df['default_' + options['default_refrigerant'] + '_monthly_price'] = \
        df['default_' + options['default_refrigerant'] + '_monthly_energy_consumption'] * options['kwh_price']
    
    df['economy'] = df['default_' + options['default_refrigerant'] + '_monthly_price'] - df['monthly_price'] 
    
    df['economy_%'] = (df['default_' + options['default_refrigerant'] + '_monthly_price'] - df['monthly_price']) * 100 \
        / df['default_' + options['default_refrigerant'] + '_monthly_price']
                
    return df

def calculate_yearly_energy_consumption(df, options):
    result = df[[
        'refrigerant',
        'monthly_energy_consumption', 
        'default_' + options['default_refrigerant'] + '_monthly_energy_consumption',
        'monthly_price', 
        'default_' + options['default_refrigerant'] + '_monthly_price',
        'economy'
    ]]\
        .rename(columns={
            'monthly_energy_consumption': 'yearly_energy_consumption',
            'default_' + options['default_refrigerant'] + '_monthly_energy_consumption': \
                'default_' + options['default_refrigerant'] + '_yearly_energy_consumption'
        })\
        .groupby(by='refrigerant')\
        .sum()\
        .rename(columns={
            'monthly_energy_consumption': 'yearly_energy_consumption',
            'default_' + options['default_refrigerant'] + '_monthly_energy_consumption': \
                'default_' + options['default_refrigerant'] + '_yearly_energy_consumption',
            'monthly_price': 'yearly_price',
            'default_' + options['default_refrigerant'] + '_monthly_price': \
                'default_' + options['default_refrigerant'] + '_yearly_price',
        })\
        .sort_values(by='yearly_energy_consumption')\
        .reset_index()
                
    return result

def choose_refrigerant(df, refrigerant):
    return df[df['refrigerant'] == refrigerant][[
        'refrigerant',
        't_external_env',
        'month',
        'month_number',
        'cop',
        'monthly_energy_consumption',
        'monthly_price',
        'economy',
        'economy_%'
    ]]\
        .sort_values(by='month_number')

In [11]:
# Transforming both cycles dataframes for economic analysis
basic_cycle_options = {
    'default_refrigerant': 'R410a',
    'q_evaporator': ['q_evaporator'],
    'hours_turned_on': 8,
    'number_of_devices': 2,
    'to_kw_conversion': 1 / 1000,
    'kwh_price': 0.694
}
economic_analysis_basic_cycle = calculate_energy_consumption(
    join_for_economic_analysis(basic_cop, basic_cycle_join_with_reference_refrigerant), 
    basic_cycle_options
)
two_evaporators_cycle_options = {
    'default_refrigerant': 'R600a',
    'q_evaporator': ['q_evaporator_ht', 'q_evaporator_lt'],
    'hours_turned_on': 24,
    'number_of_devices': 1,
    'to_kw_conversion': 1 / 1000,
    'kwh_price': 0.694
}
economic_analysis_two_evaporators_cycle = calculate_energy_consumption(
    join_for_economic_analysis(two_evaporators_cop, two_evaporators_cycle_join_with_reference_refrigerant), 
    two_evaporators_cycle_options
)

In [12]:
# Dataframe to choose basic cycle refrigerant
r_basic_cycle = calculate_yearly_energy_consumption(economic_analysis_basic_cycle, basic_cycle_options)
r_basic_cycle['economy_%'] = r_basic_cycle['economy'] * 100 / r_basic_cycle['default_R410a_yearly_price']
r_basic_cycle

,refrigerant,yearly_energy_consumption,default_R410a_yearly_energy_consumption,yearly_price,default_R410a_yearly_price,economy,economy_%
0,R600a,853.860973,1005.490466,592.579515,697.810384,105.230868,15.080152
1,R1234ze(E),859.857328,1005.490466,596.740986,697.810384,101.069398,14.483791
2,R1234yf,866.566571,1005.490466,601.397200,697.810384,96.413183,13.816530
3,R134a,868.300413,1005.490466,602.600487,697.810384,95.209897,13.644093
4,R290,881.995049,1005.490466,612.104564,697.810384,85.705820,12.282107
5,NH3,882.523144,1005.490466,612.471062,697.810384,85.339321,12.229586
6,R22,884.509053,1005.490466,613.849283,697.810384,83.961101,12.032080
7,R32,906.616778,1005.490466,629.192044,697.810384,68.618340,9.833379
8,R410a,913.174070,1005.490466,633.742804,697.810384,64.067579,9.181230
9,R404a,922.052914,1005.490466,639.904722,697.810384,57.905661,8.298194

In [13]:
# Basic cycle chosen refrigerant
choose_refrigerant(economic_analysis_basic_cycle, 'R1234ze(E)')

,refrigerant,t_external_env,month,month_number,cop,monthly_energy_consumption,monthly_price,economy,economy_%
3,R1234ze(E),29,Janeiro,1,11.115033,117.702662,81.685648,14.114412,14.733197
23,R1234ze(E),30,Fevereiro,2,10.482216,112.730194,78.234755,13.804747,14.998719
13,R1234ze(E),29,Mar√ßo,3,11.115033,117.702662,81.685648,14.114412,14.733197
33,R1234ze(E),28,Abril,4,11.821613,107.097633,74.325757,12.583952,14.479340
53,R1234ze(E),26,Maio,5,13.515110,96.800469,67.179526,10.943224,14.007730
63,R1234ze(E),26,Outubro,10,13.515110,96.800469,67.179526,10.943224,14.007730
73,R1234ze(E),27,Novembro,11,12.615795,100.355684,69.646844,11.562011,14.237377
43,R1234ze(E),28,Dezembro,12,11.821613,110.667554,76.803283,13.003417,14.479340

In [14]:
# Dataframe to choose two evaporators cycle refrigerant
r_two_evap_cycle = \
    calculate_yearly_energy_consumption(economic_analysis_two_evaporators_cycle, two_evaporators_cycle_options)
r_two_evap_cycle['economy_%'] = r_two_evap_cycle['economy'] * 100 / r_two_evap_cycle['default_R600a_yearly_price']
r_two_evap_cycle

,refrigerant,yearly_energy_consumption,default_R600a_yearly_energy_consumption,yearly_price,default_R600a_yearly_price,economy,economy_%
0,R600a,474.083034,524.419823,329.013626,363.947358,34.933732,9.598567
1,R1234ze(E),484.062834,524.419823,335.939607,363.947358,28.007751,7.695550
2,R134a,487.501985,524.419823,338.326377,363.947358,25.620980,7.039749
3,R290,491.374501,524.419823,341.013903,363.947358,22.933454,6.301311
4,R22,492.704932,524.419823,341.937223,363.947358,22.010135,6.047615
5,R1234yf,494.234554,524.419823,342.998780,363.947358,20.948577,5.755936
6,NH3,502.216230,524.419823,348.538064,363.947358,15.409294,4.233935
7,R32,510.866219,524.419823,354.541156,363.947358,9.406201,2.584495
8,R410a,513.985931,524.419823,356.706236,363.947358,7.241122,1.989607
9,R404a,521.132737,524.419823,361.666119,363.947358,2.281238,0.626804

In [15]:
# Two evaporators cycle chosen refrigerant
choose_refrigerant(economic_analysis_two_evaporators_cycle, 'R600a')

,refrigerant,t_external_env,month,month_number,cop,monthly_energy_consumption,monthly_price,economy,economy_%
0,R600a,29,Janeiro,1,2.636889,42.322600,29.371884,3.218731,9.876252
20,R600a,30,Fevereiro,2,2.577774,39.103508,27.137835,3.020254,10.014740
10,R600a,29,Mar√ßo,3,2.636889,42.322600,29.371884,3.218731,9.876252
30,R600a,28,Abril,4,2.697953,40.030346,27.781060,2.998042,9.740511
50,R600a,26,Maio,5,2.826367,39.485312,27.402806,2.868820,9.476927
70,R600a,25,Junho,6,2.893958,37.319133,25.899479,2.671036,9.348924
100,R600a,24,Julho,7,2.963979,37.652083,26.130546,2.654989,9.223345
80,R600a,25,Agosto,8,2.893958,38.563104,26.762794,2.760070,9.348924
90,R600a,25,Setembro,9,2.893958,37.319133,25.899479,2.671036,9.348924
60,R600a,26,Outubro,10,2.826367,39.485312,27.402806,2.868820,9.476927
110,R600a,27,Novembro,11,2.761074,39.115213,27.145958,2.885225,9.607430
40,R600a,28,Dezembro,12,2.697953,41.364691,28.707095,3.097977,9.740511